#title{
  text-decoration: underline;
}

body{
  background-color: #000000
}

h1{
  color: #8F00FF
}

h2{
  color: #8F00FF
}

h3{
  color: #ffffff
}


h4{
  color: #8F00FF
}

p{
  color: #ffffff
}

li{
  color: #ffffff
}

.galaxy{
  color: #8F00FF;
  font-weight: bold;    
  text-decoration: underline;
  
  img {
  width: 300px;
  height: 300px;
  }
